@import './scss/1920/header.scss';
@import './scss/1920/main.scss';
@import './scss/1920/booking.scss';
@import './scss/1920/footer.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: auto;
  max-width: 1440px;
}

