@import '../animations.scss';

.main {
  background-color: black;
}

.welcome {
  &__container {
    position: relative;
    height: 810px;
  }

  &__content {
    position: absolute;
    left: 0;
    top: 150px;
    z-index: 1;
  }

  &__title {
    text-transform: uppercase;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    color: #ffffff;
  }

  &__discription {
    font-size: 28px;
    letter-spacing: 2px;
    margin-top: 25px;
    color: #ffffff;
  }

  &__link {
    cursor: pointer;
    width: 360px;
    display: inline-block;
    height: 75px;
    line-height: 75px;
    text-align: center;
    text-decoration: none;

    font-size: 22px;
    letter-spacing: 2px;
    margin-top: 75px;
    color: lightgray;
    border: none;
    border-radius: 10px;
    background-color: #710707;

    &:hover {
      animation: waveEffect 0.2s linear;
      animation-fill-mode: forwards;
    }
  }

  &__carousel {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.visiting {
  background-color: #ffffff;
  padding: 75px 0;


  &__card-wrap {
    display: grid;
    grid-template-areas:
      "header header header"
      "royalpalace dennonwing colonnadeperrault"
      "greekhall monalisa nightpalace";
    justify-content: space-between;

    a {
      text-decoration: none;
    }
  }

  &__title-wrap {
    border-bottom: 3px solid #710707;
    grid-area: header;
  }

  &__title {
    color: #9d8665;
    font-size: 80px;
    padding-bottom: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}

.card-royalpalace {
  grid-area: royalpalace;
}

.card-dennonwing {
  grid-area: dennonwing;
}

.card-colonnadeperrault {
  grid-area: colonnadeperrault;
}

.card-greekhall {
  grid-area: greekhall;
}

.card-monalisa {
  grid-area: monalisa;
}

.card-nightpalace {
  grid-area: nightpalace;
}

.card {
  padding-top: 75px;

  &__discription {
    margin-top: 25px;
    color: #000000;
  }

  &__title {
    text-transform: uppercase;
    padding-bottom: 5px;
    font-size: 32px;
    letter-spacing: 5px;
  }

  &__introduction {
    font-size: 22px;
    line-height: 25.8px;
    width: 300px;
    padding-top: 10px;
    transition: width 0.2s linear;
  }

  &__introduction:first-of-type {
    border-top: 2px solid #710707;
  }

  &:hover &__introduction {
    width: 440px;
  }
}

.explore {
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__discription {
    color: #ffffff;
    max-width: 660px;
  }

  &__title {
    font-family: "Forum-light";
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 2px solid #710707;
    margin: 70px 0;
    padding-bottom: 25px;
  }

  &__content {
    font-family: "Roboto300";
    font-size: 22px;
    line-height: 39px;
    margin-bottom: 25px;

    span {
      color: #caaa7d;
    }
  }

  &__image {
    margin: 90px 0 75px 0;
  }
}

.video {
  background-color: #ffffff;

  &__head {
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
  }

  &__title {
    color: #9d8665;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    font-family: "Forum-light";
    font-weight: 400;
    text-transform: uppercase;
  }

  &__discription {
    font-family: "Roboto300";
    font-size: 22px;
    line-height: 44px;
    max-width: 720px;
  }

  .carousel {
    padding: 75px 0 120px 0;

    &__list {
      display: flex;
      justify-content: space-between;
      margin-top: 22px;
    }
  }
}

.controller {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  height: 85px;
  align-items: center;
  padding: 0 25px;
  &__play {
    width: 30px;
    height: 30px;
    background-color: gray;
    position: relative;
  }

  input {
    appearance: none;
  }

  input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
    background-color: #ffffff;
  }

  &__scale-video {
    position: absolute;
    background-color: #710707;
    height: 8px;
    left: 83px;
    top: 11px;
    z-index: 1;
  }

  &__play-progress {
    height: 8px;
    position: relative;
    width: 930px;
    background-color: #c4c4c4;
  }
  &__volume {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: gray;
  }

  &__scale-volume {
    position: absolute;
    background-color: #710707;
    height: 8px;
    left: 80px;
    top: 11px;
    z-index: 1;
  }

  &__volume-value {
    background-color: #c4c4c4;
    height: 8px;
    position: relative;
    width: 155px;
  }

  &__volume-value::-webkit-slider-thumb {
    background: #ffffff;
  }

  &__screen {
    height: 35px;
    width: 35px;
    border: 4px dashed #b3b3b3;
  }
}

.gallery {
  &__container {
    display: grid;
    grid-template-areas:
      "header header header"
      "row_left row_center row_right";
    column-gap: 30px;
  }

  &__title {
    color: #ffffff;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    font-family: "Forum-light";
    font-weight: 400;
    text-transform: uppercase;
    padding: 75px 0;
    grid-area: header;
  }

  &__row-left {
    margin-top: 50px;
    grid-area: row_left;
  }

  &__item {
    margin: 10px 0;
  }

  &__row-center {
    grid-area: row_center;
  }

  &__row-right {
    margin-top: 50px;
    grid-area: row_right;
  }
}

.tickets {
  position: relative;
  background-color: #ffffff;

  &__title {
    color: #9d8665;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    font-family: "Forum-light";
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 75px;
    padding-top: 55px;
    padding-bottom: 25px;
    border-bottom: 3px solid #710707;
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__body-image {
    flex: 1;
    margin-bottom: 75px;
  }

  &__body-form {
    flex: 1;
  }

  &__parallax {
    height: 400px;
    overflow: hidden;
  }

  &__parallax-image {
    background-image: url("@../../assets/images/parallax.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
    background-attachment: fixed;
    position: sticky;
    top: 0;
  }
}

.form {
  vertical-align: top;
  display: grid;
  grid-template-areas:
    "section-left section-right"
    "footer footer";
  flex-wrap: wrap;

  &__confirm {
    grid-area: footer;
    justify-self: flex-end;
  }

  &__sum {
    padding-bottom: 70px;
    text-align: right;
    font-family: "Roboto700";
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 1.7px;
  }

  &__button {
    display: block;
    width: 175px;
    height: 50px;
    margin-bottom: 100px;
    color: #ffffff;
    border-radius: 2px;
    background-color: #000000;
    font-family: "Roboto300";
    font-size: 22px;
    letter-spacing: 2px;
    box-shadow: none;
    border: none;
  }
}

.type {
  grid-area: section-left;
  margin-left: 60px;

  &__title {
    font-family: "Roboto700";
    font-size: 28px;
    line-height: 33px;
  }

  &__choice {
    margin-top: 50px;
  }

  &__choice-value {
    margin-bottom: 25px;
    display: block;
    font-family: "Roboto300";
    font-size: 22px;
    line-height: 26px;

    input {
      margin-right: 15px;
    }
  }
}

.amount {
  grid-area: section-right;
  width: 150px;
  justify-self: flex-end;

  &__title {
    font-family: "Roboto700";
    font-size: 28px;
    line-height: 33px;
    text-align: right;
  }

  &__choice {
    margin-top: 25px;
    display: block;
    font-family: "Roboto300";
    font-size: 22px;
    line-height: 26px;
  }

  &__choice-age {
    display: block;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  &__choice-value {
    display: block;
    width: 150px;
    height: 50px;
    border: 3px solid #000000;
  }
}

.contacts {
  background-color: #ffffff;

  &__title {
    color: #9d8665;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    font-family: "Forum-light";
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 75px;
    padding-top: 75px;
    padding-bottom: 25px;
    border-bottom: 3px solid #710707;
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__content-title {
    font-family: "Roboto500";
    font-size: 28px;
    line-height: 33.8px;
    margin-bottom: 50px;
  }

  &__content-item {
    font-family: "Roboto300";
    font-size: 22px;
    line-height: 25.8px;
    margin-bottom: 25px;

    a {
      text-decoration: none;
      color: #000000;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &__image {
    margin-bottom: 74px;
  }
}
